{{template "top" .}}

<div class="container">
    <h2>Add a todo</h2>
    <form action="/add-todo" method="post">
        <div>
            Name: <input type="text" name="name"><br />
            <button class="primary-button" type="submit">Add</button>
        </div>
    </form>
     <div class="navlinks">
         <a href="/list">Back</a>
    </div>
   
</div>

{{template "bottom" .}}